html{
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Helvetica';
}

body{
  background-image: url("images/background_07.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#nullNav {
  background-color: rgba(131, 135, 65, 0.97);
  font-family: 'Helvetica';
  margin-bottom: 2rem;
}

#nullNav .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
}

#nullNav .navbar-nav .nav-item.active .nav-link {
  color: #FBEEC1;
}

#nullNav .navbar-nav .nav-item .nav-link:hover {
    color: rgba(255, 255, 255, 0.4);
}

#nullNav .navbar-nav .nav-item.active .nav-link:hover {
    color: #FBEEC1;
}

.big-header{
  font-size: 3.5rem;
  text-transform: uppercase;
  font-family: 'Bungee Inline';
  color: #FBEEC1;
  margin-top: 0rem;
  margin-bottom: 1rem;
}

.small-header{
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Bungee Inline';
  color: #FBEEC1;
}

.footer{
  background-color: rgba(131, 135, 65, 0.97);
  font-family: 'Helvetica';
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
}

.login-text{
  color: rgba(255, 255, 255, 0.9);
}

.top-bar{
  margin-top: .5rem;
}

.content-background{
  background-color: rgba(255,255,255,0.85);
}

.content-text{
  color: rgb(0,0,0);
  font-size: 0.8rem;
}

.content-heading-text{
  color: rgb(0,0,0);
  font-size: 2.5rem;
  font-family: 'Alegreya Sans SC';
  display: block;
}

.small-content-heading-text{
  color: rgb(0,0,0);
  font-size: 0.8rem;
  font-family: 'Alegreya Sans SC';
  font-weight: 700;
  display: block;
  text-transform: uppercase;
}

.content-section{
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.word-section{
  margin-top: -4rem;
}

.top-image{
  margin: 0;
}
