<!DOCTYPE html>
<html lang ="en">

<head>
  <!--Miguel Grindberg's "Flask Mega-Tutorial, Chapters 1-8" - Followed for structure of if/else/endif statement here-->
  {% if title %}
  <title> {{title}} - Delany Bolton + Alden Kane - CITS3403 Unit Project </title>
  {% else %}
  <title> Delany Bolton + Alden Kane - CITS3403 Unit Project </title>
  {% endif %}

  <!--Website Metadata for SEO and Browser Rendering-->
  <meta charset = "utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="author" content="Delany Bolton and Alden Kane">
  <meta name="description" content="CITS3403 Unit Project: What Car Would You Cross the Nullarbor In?">

  <!--Link to Bootstrap-->
  <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen">
  <script src="static/bootstrap/js/bootstrap.min.js"></script>

  <!--Link to Custom CSS-->
  <link href="static/nullPoll.css" rel="stylesheet" type="text/css" media="screen">
  <!--<link rel="stylesheet" type="text/css" media="screen" href="{{url_for('static', filename='nullPoll.css')}}"> -->

  <!--Link to Custom Fonts-->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fredericka+the+Great">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bungee+Inline">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Skranji">

</head>

<body onload="clock()">

  <!--Top Container for Header and Login. Changes content based on user status-->
  <div class = "container top-bar">
    <div class = "row">
      <div class="col-sm-3"> </div>
      <div class="col-sm-6">
        <!--Header-->
        <h3 class = "small-header text-left">So you want to drive across the...</h3>
        <h1 class = "big-header text-center">Nullarbor?</h1> </div>
      <div class="col-sm-3 text-right">
        <!--Miguel Grindberg's "Flask Mega-Tutorial, Chapters 1-8" - Followed for if/else/endif statement here-->
        <!--Diplay for anonymous user-->
        {% if current_user.is_anonymous %}
        <a class="login-text" href="{{ url_for('login') }}">Login</a>
        <br>
        <a class="login-text" href="{{ url_for('register')}}">Register</a>
        <!--Diplay for logged in user-->
        {% else %}
        <a class="login-text" href=""> Hi, {{current_user.username}}</a>
        <br>
        <a class="login-text" href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
      </div>
    </div>
  </div>

  <!--Navbar with functionality to highlight current page-->
  <nav class = "navbar-expand-sm py-sm-4" id="nullNav">
    <div class="collapse navbar-collapse" id="navbarFunction">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item px-sm-4 {% if request.path == "/index" %} active {% elif request.path == "" %} active {% endif %}"> <!--Text highlighting feature through active tag based off of what page is currently clicked-->
          <a class="nav-link text-uppercase" href="{{ url_for('index') }}"> Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item px-sm-4 {% if request.path == "/vote" %} active {% endif %}"> <!--Text highlighting feature through active tag based off of what page is currently clicked-->
          <a class="nav-link text-uppercase" href="{{ url_for('vote') }}">Vote</a>
        </li>
        <li class="nav-item px-sm-4 {% if request.path == "/results" %} active {% endif %}"> <!--Text highlighting feature through active tag based off of what page is currently clicked-->
          <a class="nav-link text-uppercase" href="{{ url_for('results') }}">Results</a>
        </li>
      </ul>
    </div>
  </nav>

  <!--Block content for all other html templates to build off of-->
  {% block content %}
  {% endblock %}

  <!--Footer-->
  <footer class="footer text-center py-5">
    <div class="container">
      <p class="m-0 small"> Delany Bolton's + Alden Kane's CITS3403: Agile Web Development Unit Project </p>
      <p class="m-0 small"> Page Updated On: Mon May 20 2019 </p>
      <p class="m-0 small"> Today's Date: <span id="date"> </span> </p> <!--Renders current date using date script-->
      <p class="m-0 small"> Current Time: <span id="time"> </span> </p> <!--Moving clock using clock function-->
    </div>
  </footer>

  <!--Bootstrap Scripts-->
  <script src="static/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!--Scripts for Date is rendered in footer. Script is written in JS-->
  <script>
    var date = new Date();
    document.getElementById("date").innerHTML = date.toDateString();
  </script>

  <!--Script for Dynamic Time. Rendered in footer. Uses JS-->
  <script>
    function clock(){
      var curDate = new Date();
      var h = curDate.getHours();
      var m = curDate.getMinutes();
      var s = curDate.getSeconds();
      m = tCount(m);
      s = tCount(s);
      document.getElementById("time").innerHTML = h + ":" + m + ":" + s;
      var t = setTimeout(clock, 500);
    }
    //Function to pad numbers with less than 10 with a 0
    function tCount(i){
      if(i<10) {i = "0" + i};
      return i;
    }
  </script>

</body>
