{% extends "base.html" %}

{% block content %}
  <!--Content Section for Each Page-->
    <div class="container content-section">
        <img class="top-image img-fluid rounded" src="static/images/road2.jpg" alt=""> <!--Top image link-->
        <div class="word-section">
          <div class="row">
            <div class="col-md-10 mx-auto">
              <!--Body Content Found Below-->
              <div class="content-background rounded p-5">
                <h2>
                  <span class="small-content-heading-text">The world's longest straight road </span>
                  <span class="content-heading-text">The Nullarbor</span>
                </h2>
                <p class="content-text">The Nullarbor Plain is a vast stretch of arid land with little to no trees. It spans the southern coast of Australia from Norseman, WA to Ceduna, SA. It is considered a quintessential “Australian bucket list” item and is a journey worth attempting by vehicle.</p>
                <p class="content-text">A successful trip across the Nullarbor depends not only on the fortitude and perseverance of the individual, but also on the vehicle in which the journey is undertaken. Will you pick the iconic Ford Bronco, or the rugged Jeep Wrangler? Will you be economical and choose the Subaru Outback, or environmentally friendly and select the Tesla Model S? Or if all else fails, will you pick the quintessential Australian car for the quintessential Australian road trip, the Toyota Land Cruiser?</p>
                <p class="content-text">You can read more about the Nullarbor on <a href="https://en.wikipedia.org/wiki/Nullarbor_Plain">Wikipedia</a>.</p>
                <!--Image References-->
                <p class="m-0 reference-text">Background image via <a href="http://www.peakpx.com">Peakpx</a>
                <p class="m-0 reference-text">Image via <a href="http://www.pexel.com">Pexel</a></p>
                <p class="m-0 reference-text">Referencing not required per Peakpx and Pexel terms of service</p>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
