{% extends "base.html" %}

{% block content %}
  <!--Content Section for Each Page-->
  <section class = "content-section top-section">
    <div class="container">
        <img class="top-image img-fluid mb-3 mb-lg-0 rounded" src="static/images/background_02.jpg" alt="">
        <div class="content-section">
          <div class="row">
            <div class="col-md-10 mx-auto">
              <div class="content-background rounded p-5">
                <h2>
                  <span class="">The Nullarbor</span>
                  <br>
                  <span class=""> The world's longest straight road </span>
                </h2>
                <p class="content-text"> About the Nullarbor. Embed nice content</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}
